n8n_workflow.json
{
  "name": "MeetMind AI — Meeting Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meetmind",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7aee9135-1ff1-4b15-96d9-b9b38e2a79f4",
      "name": "Webhook — Receive Meeting",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -480,
        128
      ],
      "webhookId": "5f154a0a-c8c6-4a98-8249-bb0bfcf38814"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body || $input.first().json;\n\n// استخراج النص مباشرة حيت السيرفر كيصيفط نص ماشي Object\nconst summaryText = data.summary || 'No summary available';\nconst city = data.city || 'Unknown City';\nconst gpu = data.gpu_stats || 'AMD MI300X';\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('fr-FR', { day: '2-digit', month: 'long', year: 'numeric' });\nconst timeStr = now.toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' });\n\nreturn [{\n  json: {\n    title: `Weather Analysis — ${city} (${dateStr})`,\n    summary_text: summaryText,\n    city: city,\n    gpu_info: gpu,\n    date: dateStr,\n    time: timeStr,\n    email_subject: `Weather Report: ${city} — ${dateStr}`,\n    email_body: `Hello,\\n\\nHere is the AI Weather Analysis for ${city} generated by ${gpu}.\\n\\n---\\nAI SUMMARY\\n---\\n${summaryText}\\n\\n---\\nDETAILS\\n---\\nDate: ${dateStr}\\nTime: ${timeStr}\\n\\nStay safe,\\nMeetMind Weather AI`\n  }\n}];"
      },
      "id": "8edcc4b7-afae-4640-9f39-870972f4abb5",
      "name": "Format Meeting Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        128
      ]
    },
    {
      "parameters": {
        "fromEmail": "meetmind@yourdomain.com",
        "toEmail": "khadijaelbagdadi555@gmail.com",
        "subject": "={{ $json.email_subject }}",
        "text": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "3d49ee2e-a9c6-491a-8b77-51e1ec2ff04a",
      "name": "Send Email Summary",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "webhookId": "4ced1873-10b5-4a2e-a3d2-c40a94f2386a",
      "credentials": {
        "smtp": {
          "id": "6gJhlk1DfFhcB0TV",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oWmX4MID9QL0aJ5ofW1bxreXCjwaj5iMuOi67Y7NpVc",
          "mode": "list",
          "cachedResultName": "MeetMind Meetings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oWmX4MID9QL0aJ5ofW1bxreXCjwaj5iMuOi67Y7NpVc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oWmX4MID9QL0aJ5ofW1bxreXCjwaj5iMuOi67Y7NpVc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "titre": "={{ $json.title }}",
            "date": "={{ $json.date }}",
            "city": "={{ $json.city }}",
            "gru_info": "={{ $json.gpu_info }}",
            "Summary": "={{ $json.summary_text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "titre",
              "displayName": "titre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "titre",
              "displayName": "titre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "gru_info",
              "displayName": "gru_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -32,
        16
      ],
      "id": "b580e8a3-5e06-4878-bd7e-4efb6a58aaf6",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XWepm9OqHBOE4VSz",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        176,
        48
      ],
      "id": "df1ee175-d3cd-42e5-9e7d-8285c99195ce",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Receive Meeting": {
      "main": [
        [
          {
            "node": "Format Meeting Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Meeting Data": {
      "main": [
        [
          {
            "node": "Send Email Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "08d4a012-69c9-422e-b496-8de5d6a733db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b7062add39f43cf338861f574225ac7be98d7a9479eaa76ae2ae2481f6f3418"
  },
  "id": "XexLxgwceYYR2eT9r8gII",
  "tags": []
}